
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "Default1")
<body data-spy="scroll" data-target="#site-navbar" data-offset="200">

    @Html.Action("PartialNavbar", "Default1")

    @Html.Action("PartialAbout", "Default1")

    @Html.Action("TodaysOffer", "Default1")

    @Html.Action("PartialMenu", "Default1")

    @Html.Action("PartialGallery", "Default1")




    <!-- END section -->

    @Html.Action("PartialContactt", "Contact")
    <div id="map">@Html.Action("PartialMap", "Default1")</div>
    <!-- END section -->

    @Html.Action("PartialFooter", "Default1")

    <!-- Modal -->
    @Html.Action("PartialReservationn", "Reservation")
    @*@Html.Action("PartialReservation", "Default1")*@

    <!-- END Modal -->
    <!-- loader -->

    @Html.Action("PartialScripts", "Default1")








</body>
</html>